<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="UTF-8">
    <title> Đăng ký </title>
    <link rel="stylesheet" href="../Template/CssRegister/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    @RenderBody()
    

</body>
</html>
