
@{
    Layout = "~/Views/Shared/DangNhapMuaHang.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Dang Nhap Thanh Cong</title>
</head>
<body>
    <div>
        @*Xin chào @ViewBag.XinChao*@
    </div>
</body>
</html>
