
@{
    ViewBag.Title = "XacNhanDonHang";
    Layout = "~/Views/Shared/Layout_XacNhanDon.cshtml";
}

<h2>Đơn hàng của bạn đã được ghi nhận, chúng tôi sẽ liên hệ bạn trong thời gian ngắn nhất</h2>
<p>
    @Html.ActionLink("Về trang chủ", "Index", "User")
</p>


